<div [ngClass]="getClasseStile('titoloSuccess')">
    BENVENUTO nel parco auto
</div>
<table [ngClass]="getClasseStile('tabella')">
    <tr [ngClass]="getClasseStile('testataTabella')">
        <td>Progressivo Riga</td>
        <td>Progressivo Riga</td>
        <td>ID</td>
        <td>Targa</td>
        <td>Modello</td>
        <td>Marca</td>
        <td>Cilindrata</td>
        <td>Prezzo</td>
    </tr>
    <!--tr *ngFor="let item of arrAuto; let i = index; let disp=odd" [ngClass]="getClasseStileAlternato2('rigaTabella', disp)"-->
    <!-- tr *ngFor="let item of arrAuto; let i = index; let disp=odd" [class.bg-warning]="disp" [class.bg-info]="!disp" -->
    <tr *ngFor="let item of arrAuto; let i = index; let disp=odd" [class.bg-warning]="coincide(item.id)" (mouseover) = "assegna(item.id);getTot3(item.marca)">
        <td >{{disp}}</td>
        <td>{{i+1}}</td>
        <!--td (mouseover)="str=getTot2(item.id)+''" >{{item.id}}</td-->
        <!--td (mouseover)="getTot3(item.marca)" >{{item.id}}</td-->
        <td >{{item.id}}</td>
        <td>{{item.targa}}</td>
        <td>{{item.modello}}</td>
        <td>{{item.marca}}</td>
        <td>{{item.cilindrata}}</td>
        <td *ngIf="item.prezzo < 40000">{{item.prezzo}}</td>
        <td *ngIf="item.prezzo >= 40000">Da trattare</td>
    </tr>
</table>    
Totale Importi : {{importo}}
<br/>
Totale auto marca {{marca}} : {{numeroAuto}}
<br/>
Altro : {{str}}

<br/>
Totale records: {{val}}
<div >
    <input type="text" [value]="val">
</div>